<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!DOCTYPE html>
<html lang="en">

	<title>Tagup</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<style>
			body 
			{
					background-color:#eee;
					color: #eee;
			}
			.container-fluid {padding:50px;}
			.container{background-color:#2E292C;padding:50px;   }
			#title{font-family: 'Serif';}
			a {color:white; text-decoration: none;}
			a:hover {color:antiquewhite;text-decoration: none;}

		</style>
	</head>
	<body>
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">Tagup challenge API</h2>
			 
 			<hr>

						<nav class="navbar navbar-default">
								<div class="container-fluid">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="/doc">Documentation</a></li>
									<li><a href="#">Github Source</a></li>
									<li><a href="#">About</a></li>
								  </ul>
								</div>
						</nav>
			
		
		</div>
		</div>
		

	</body>
	 

</html>